* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header {
    padding: 5px;
    background-color: black;
    color: #fff;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;    
}

header nav a{
    text-decoration: none;
    font-style: none;
    color: #fff;
    opacity: 0.7;
    padding: 0 10px;
    font-size: 17px;
}

header nav a:hover {
    opacity: 1.0;
}

.container-imgs {
    position: relative;
    padding: 12px;
    max-width: 800px;
    margin: 0 auto;    
}

.galeria-wrapper {
    overflow-x: auto;
}

.galeria-wrapper::-webkit-scrollbar{
    display: none;
}

.galeria {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

.button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: auto;
    left: 0;
    padding: 15px;
    line-height: 250px;
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.2;
    transition: all 600ms ease-in-out;
}

.button:hover{
    opacity: 1.0;
}

.direita {
    right: 0;
    left: auto;
    background: linear-gradient(to right, transparent 0%, black 200%);
}

.item {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    opacity: 0.7;
    transition: all 600ms ease-in-out;
}

.atual {
    opacity: 1.0;
}
 i {
    font-size: x-large;
    font-weight: bolder;
 }

 footer {
    padding: 15px;
    color: #fff;
    background-color: black;
    text-align: center;
    margin-top: 170px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 900;
 }